<div class="navbar">
    <nav style="margin-bottom: 20px;" class="nav nav-pills flex-column flex-sm-row">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Главная</a>
        <a [ngClass]="{invisible: !globalVar.globalInvisible}" class="nav-link" routerLinkActive="active"  routerLink="/plan">Рабочий кабинет</a>
        <a class="nav-link" routerLinkActive="active"  routerLink="/profile">{{globalVar.globalProfilName}}</a>
    </nav>
</div>
<div class="container">
    <div class="">
        <div class="col-xs-10 col-xs-offset-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="mt-5">
  <ul id="site_link" class="navbar navbar-dark bg-dark justify-content-around">
    <li class="mb-0"><a href="">Ссылка на раздел сайта</a></li>
    <li class="mb-0"><a href="">Ссылка на раздел сайта</a></li>
    <li class="mb-0"><a href="">Ссылка на раздел сайта</a></li>
    <li class="mb-0"><a href="">Ссылка на раздел сайта</a></li>
    <li class="mb-0"><a href="">Ссылка на раздел сайта</a></li>
  </ul>
  <!-- <h6 class="text-right font-italic">Все права защищены &#169 2018, t2Studio.org.
    При копировании материалов активная ссылка на сайт обязательна.</h6> -->
</footer>
