<div class="navbar">
    <nav style="margin-bottom: 20px;" class="nav nav-pills flex-column flex-sm-row">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Главная</a>
        <a class="nav-link" routerLinkActive="active"  routerLink="/Plan">Кабинет</a>
        <a class="nav-link" routerLinkActive="active"  routerLink="/Person">Профиль</a>
    </nav>
</div>
<div class="container">
    <div class="">
        <div class="col-xs-10 col-xs-offset-1">
            <router-outlet></router-outlet>
        </div>
      <div>
        <app-ngbd-carousel-navigation></app-ngbd-carousel-navigation>
      </div>
    </div>
</div>
