<div>
  <div class="log_info"></div>
  <div class="user_info">
    <label for="user_info-1">Фамилия:</label>
    <input id="user_info-1" type="text">
    <label for="user_info-2">Имя:</label>
    <input id="user_info-2" type="text">
    <label for="user_info-3">Отчество:</label>
    <input id="user_info-3" type="text">
    <label for="user_info-4">Дата рождения:</label>
    <input id="user_info-4" type="date">
    <label for="user_info-5">Телефон:</label>
    <input id="user_info-5" type="phone">
    <label for="user_info-6">ИНН:</label>
    <input id="user_info-6" type="text">
    <label for="user_info-7">Паспорт: Серия:</label>
    <input id="user_info-7" type="text">
    <label for="user_info-8">Кем и когда выдан</label>
    <textarea name="" id="user_info-8" cols="30" rows="5"></textarea>
  </div>
  <button mat-raised-button color="primary">Сохранить</button>
</div>
