<!-- <form [ngClass]="{invisible: visibility}">
  <div class="form-group">
    <label for="usName">Имя пользователя</label>
    <input type="text" class="form-control" id="usName" aria-describedby="emailHelp" placeholder="Enter your name" [(ngModel)]="usName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Возраст</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your age" [(ngModel)]="usAge">
  </div>
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" (click)="regUsers()">Регистрация</button>
  </div>
</form>
-->
<!--
  <label for="age">имя</label>
  <input type="text" id="name" formControlName="age" />
  <div class="error" *ngIf="isControlInvalid('age')">
    Возраст должен состоять только из целых чисел
  </div>
  <br/><br/>
  -->
<h1>РЕГИСТРАЦИЯ</h1>
<div class="form-group">
<form>
  <label for="userEmail">Введите ваш почтовый ящик</label>
  <input type="email" class="form-control" id="userEmail" placeholder="Enter your e-Mail" [(ngModel)]="newLogin" name="newLogin" required />
  <label for="userPassword">Введите пароль</label>
  <input type="password" class="form-control" id="userPassword" placeholder="Enter your password" [(ngModel)]="newPassword" name="newPassword" required />
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" (click)="regUser()">Регистрация</button>
  </div>
</form>

<hr/><br/>
  {{testLogin}}
  {{testPassword}}
</div>
